.fontCardtitle {
    font-size: 17px;
}

.img-icon {
    width: 100% !important;
    height: auto !important;
}

ิี.button-dashboard{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
/* .img{
    width: 80px !important;
    height: 20px !important;
} */
.fontLink {
    font-size: 14px;
}
.nav-link {
    width: 100% !important;
    display: -webkit-inline-box;
} 

.dropdown-menu {
    right: 15px !important;
    left: 30px !important;
}